<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.validationEngine-zh_CN.js"></script>
<script src="/javascripts/jquery.validationEngine.js"></script>
<script src="/javascripts/jQuery.md5.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>