<p>© 2015 Node.js Foundation. All Rights Reserved. Portions of this site originally © 2015 Joyent. </p>
<p>Node.js is a trademark of Joyent, Inc. and is used with its permission. Please review the <a href="/files/trademark-policy.pdf" target="_blank">Trademark Guidelines of the Node.js Foundation</a>.</p>