<% include _head %>
<!-- ================================================================ -->
<div id="container">
  <header>
    <div class="sign">
      <a class="signIn se1" href="/signin">登录</a>
      <a class="signUp se1" href="/signup">注册</a>
    </div>
    <h1>
      <a id="logo" href="/" title="Node.js起始页">Node.js</a>
    </h1>
    <nav class="container clearfix">
      <% include _navbar %>      
    </nav>
  </header>
  <div class="content container clearfix">
    <div class="second_nav">
      <% include _second_nav %>
    </div>
    <div class="article">
      <% include _ES6 %>
    </div>
  </div>
  <footer>
    <div class="footer container">
      <% include _footer %>
    </div>
  </footer>
</div>
<!-- ================================================================ -->
<% include _foot %>















