<% include _head %>
<!-- ===INDEX=#80BD01============================================================ -->
<div id="container">
  <!-- ==页头============== -->
  <header>
    <% include _sign %>
    <h1>
      <a id="logo" href="/" title="Node.js起始页">Node.js</a>
    </h1>
    <nav class="container clearfix">
      <% include _navbar %>
    </nav>
  </header>
  
  <!-- ==content============== -->
  <div class="content container clearfix">
    <div class="second_nav">
      <% include _second_nav %>
    </div>
    <div class="article">
      <% include _ES6 %>
    </div>
  </div>
  
  <!-- ==页尾============== -->
  <footer>
    <div class="footer container">
      <% include _footer %>
    </div>
  </footer>
</div>
<!-- ================================================================ -->
<% include _foot %>















