<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="author" content="Thilina Fong" />
  <meta name="description" content="15816277995 95E7E2" />
  <link rel='stylesheet' href='/stylesheets/bsgrid.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>



<body>
<div id="container">
  <header>
    <h1>
      <a id="logo" href="/">Node.js</a>
    </h1>
    <nav class="container clearfix">
      <ul id="nav" class="clearfix">
        <li>
          <a href="#">HOME</a>
        </li>
        <li>
          <a href="#">ABOUT</a>
        </li>
        <li>
          <a href="#">DOWNLOADS</a>
        </li>
        <li class="active">
          <a href="#">DOCS</a>
        </li>
        <li>
          <a href="#">FOUNDATION</a>
        </li>
        <li>
          <a href="#">GET INVOLVED</a>
        </li>
        <li>
          <a href="#">SECURITY</a>
        </li>
        <li>
          <a href="#">NEWS</a>
        </li>
      </ul>
      
    </nav>
  </header>
</div>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>