<% include _head %>
<!-- ================================================================ -->
<div id="container">
  <header>
    <h1>
      <a id="logo" href="/" title="Node.js起始页">Node.js</a>
    </h1>
  </header>
  
  <div class="content container clearfix">
    <div class="formWrap">
      <form id="signIn">
        <ul class="form">
          <li>
            <label>用户名</label>
            <input type="text" name="fname" class="validate[required]">
          </li>
          <li>
            <label>请输入密码</label>
            <input type="password" name="fpassword" class="validate[required]">
          </li>
        </ul>
        <a class="submitBtn se2" href="javascript:void(0);">
          <span class="fText">登入<span class="to">&gt;</span></span>
          <span class="fTextHvr">登入<span class="to">&gt;</span></span>
        </a>
      </form>
    </div>
  </div>
  
  <footer>
    <div class="footer container">
      <% include _footer %>
    </div>
  </footer>
</div>
<!-- ================================================================ -->
<% include _foot %>