<% include _head %>
<!-- ================================================================ -->
<div id="container">
  <header>
    <h1>
      <a id="logo" href="/" title="Node.js起始页">Node.js</a>
    </h1>
  </header>
  
  <div class="content container clearfix">
    <div class="formWrap">
      <form id="signIn" method="post" action="">
        <ul class="form">
          <li>
            <label>用户名</label>
            <input id="fname" type="text" name="fname" class="validate[required]">
          </li>
          <li>
            <label>请输入密码</label>
            <input id="pw2" type="password" class="validate[required]">
            <input type="hidden" name="fpassword" value="">
          </li>
          <li>
            <p class="remember">
              <input type="checkbox" checked="checked" name="remembertheuser" />
              <span>记住帐号</span>
            </p>
          </li>
        </ul>
        <a class="submitBtn se2" href="javascript:void(0);">
          <span class="fText">登入<span class="to">&gt;</span></span>
          <span class="fTextHvr">登入<span class="to">&gt;</span></span>
        </a>
      </form>
    </div>
  </div>
  
  <footer>
    <div class="footer container">
      <% include _footer %>
    </div>
  </footer>
</div>
<!-- ================================================================ -->
<% include _foot %>