@charset "utf-8";

html,body{width:100%;height:100%;background-color:#fff;-webkit-font-smoothing:antialiased;font-size:10px;}
body,ol,ul,li,p,h1,h2,h3,h4,h5,h6,form,input,textarea,select,figure,figcaption,header,nav,section,article,aside,details,footer,hgroup,menu{margin:0;padding:0;
  font-family:"微软雅黑", Ubuntu,Arial,"libra sans",sans-serif;
  font-size:1.4rem;
  color:#333;
}
div{
  box-sizing: border-box;
}
p{
  line-height:1.8em;
}

textarea{resize:none;overflow:auto;}
li{list-style:none;}
img{border:none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
a{text-decoration:none;
  transition:all .2s ease-out;
}
input,textarea,select,a:focus{outline:none;}
.clearfix:after{content:"Thilina Fong";display:block;clear:both;height:0;visibility:hidden;}
.clearfix{zoom:1;}

body {
  font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*===========================================================================================*/
.fBtn{
  padding:5px 20px;
  border:1px solid #00B7FF;
}
/*=======page INDEX====================================================================================*/
#container{
  
}
/*===header===*/

header{
  background:#666;
}
.sign{
  background:#333;
  padding:0px 30px;
  text-align:right;
}
a.se1{
  margin:0 4px;
  display:inline-block;
  padding:8px 10px;
  color:#FFF;
  position:relative;
}
a.se1::after{
  content:"";
  position:absolute;
  display:block;
  height:2px;
  background:#FFF;
  left:0;
  bottom:0;
  width:0%;
  overflow:hidden;
  transition:width .2s ease-out;
  -webkit-transition:width .12s ease-out;
}
a.se1:hover::after{
  width:100%;
}
.signIn{}
.signUp{}
header h1{
  padding:30px 0;
}
a#logo{
  text-indent: -9999px;
  background:url(https://nodejs.org/static/images/logo.svg) no-repeat center 0;
  width:180px;
  height:80px;
  display:block;
  background-size:contain;
  margin:0 auto;
}
header nav{
  text-align:center;
  margin:20px 0;
}
#nav{
  display:inline-block;
}
#nav li{
  float:left;
  border-right:2px solid #00B7FF;
  position:relative;
}
#nav li:last-of-type{
  border-right:none;
}
#nav li a{
  display:block;
  padding:2px 20px;
}
#nav li a:hover{
  text-decoration:underline;
}
#nav li.active a{
  text-decoration:none;
}



#nav li.active:after{
  content:"";
  position:absolute;
  left:50%;
  top:36px;
  border:16px solid #666;
  border-left-color:transparent;
  border-bottom-color:transparent;
  border-right-color:transparent;
  display:block;
  width:0;
  margin-left:-16px;
}





/*===body===*/
.content{
}
/*===二级菜单===*/
.second_nav{
  width:200px;
  float:left;
}
.second_nav h3{
  margin:8px 0;
  font-weight: 500;
}
.second_nav h3 a{
  font-size:1.4em;
  background:#FFF;
  color:#FFB900;
  display: block;
  padding:4px 10px;
}
.second_nav h3 a:hover{
  background:#FFB900;
  color: #FFF;
}
.second_nav h3 a.active{
  background:#55D900;
  color: #333;
}
/*===文章内容===*/
.article{
  float:right;
  width: calc(100% - 220px);
  width: -webkit-calc(100% - 220px);
}
.article h2{
  font-size:2.5rem;
  margin-top:10px;
  margin-bottom:30px;
}
.article p{
  font-size:1.8rem;
  margin:20px 0;
}
.article p.hasCode{
  background:#333;
  padding:4px 10px;
}
.article p.hasCode code{
  color:#FFF;
  font-size:1.2rem;
}
.article h4{
  font-size:2rem;
  margin:30px 0;
  text-decoration:underline;
}
.article ul{
  margin-left:20px;
}
.article ul li{
  list-style:disc;
  margin-left:15px;
  font-size:1.6rem;
  margin:10px 0 10px 15px;
  font-family:"Franklin Gothic Medium";
}
.article ul li ul li{
  list-style:circle;
}
/*
.article p:has("code"){ //$("div:has(p)") 
  background:red;
}*/

.article a{
  text-decoration: underline;
}

/*===footer===*/
footer{
  background:#595959;
  margin-top:4rem;
  padding:15px 0;
}
.footer p{
  color:#fff;
}

/*=======page SIGNUP====================================================================================*/
.formWrap{
  padding:50px 0;
}
.formWrap form{
  width:500px;
  margin:0 auto;
  display:block;
}
ul.form{}
ul.form label,ul.form input{
  border:none;
  display:inline-block;
  border-bottom:1px solid #333;
  height:30px;
  line-height:30px;
}
ul.form label{
  width:130px;
  position:relative;
  font-style: italic;
}
ul.form label::after{
  content:"";
  width:1px;
  height:10px;
  background:#333;
  display:inline-block;
  position:absolute;
  right:0;
  bottom:0;
}
ul.form input{
  margin-left:-3px;
  width:350px;  /*calc(500px - 130px - 20px)*/
  padding-left:10px;
}
ul.form li{
  margin:20px 0;
}
.formWrap a.submitBtn{
  display:inline-block;
  margin-top:30px;
  width:130px;
  box-sizing:border-box;
  text-align:center;
}
#signUp a.submitBtn{
  background:#000;
}
.to{
  margin-left:8px;
  font-weight:700;
}
/*=======page SIGNIN====================================================================================*/
#signIn a.submitBtn{
  background:#FFB900;
}

/*====================*/
a.se2{
  color:#FFF;
  overflow:hidden;
  height:30px;
}
a.se2 > span.fText{
  display:block;
  height:30px;
  line-height:30px;
  transform:translate(0px,0px);
  -webkit-transform:translate(0px,0px);
  transition:transform .2s ease-out;
  -webkit-transition:-webkit-transform .2s ease-out;
}
a.se2 > span.fTextHvr{
  display:block;
  height:30px;
  line-height:30px;
  transform:translate(-130px,-30px);
  -webkit-transform:translate(-130px,-30px);
  transition:transform .2s ease-out;
  -webkit-transition:-webkit-transform .2s ease-out;
}

a.se2:hover > span.fText{
  transform:translate(130px,0px);
  -webkit-transform:translate(130px,0px);
}
a.se2:hover > span.fTextHvr{
  transform:translate(0px,-30px);
  -webkit-transform:translate(0px,-30px);
}
/*====================*/













/*=========END==================================================================================*/